/* @import url("https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&display=swap"); */

body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", Times, serif;
  text-align: center;
}
.image {
  border: 5px solid white;
  width: 100%;
}
